<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> medicine-list</h1> 
   <label for="name"><b>name</b></label><br>
   <p>{{ data.name }}<br></p><br>

   <label for="price"><b>price</b></label><br>
   <p>{{ data.price }}<br></p><br>

   <label for="description"><b>description</b></label><br>
   <p>{{ data.description }}<br></p><br>

   <label for="manufacturer"><b>manufacturer</b></label><br>
   <p>{{ data.manufacturer }}<br></p><br>

   <label for="quantity"><b>quantity</b></label><br>
   <p>{{ data.quantity }}<br></p><br>

   <label for="expiry_date"><b>expiry_date</b></label><br>
   <p>{{ data.expiry_date }}<br></p><br>

   <label for="status"><b>status</b></label><br>
   <p>{{ data.status }}<br></p><br>

   <label for="brandname"><b>brandname</b></label><br>
   <p>{{ data.brandname }}<br></p><br>

   <label for="genericname"><b>genericname</b></label><br>
   <p>{{ data.genericname }}<br></p><br>

   <label for="strength"><b>strength</b></label><br>
   <p>{{ data.strength }}<br></p><br>


</body>
</html>